/* Write your CSS code here */
.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
}
.user-info-img {
  height: 100px;
  width: 100px;
}
.user-info-heading {
  font-family: roboto;
  font-size: 16px;
  color: #12022f;
}
.user-info-paragraph {
  font-family: roboto;
  font-size: 14px;
  color: #616e7c;
}
